@font-face {
  font-family: 'Stapel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./Stapel_Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Stapel';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./Stapel_Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Stapel';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./Stapel_Bold.woff2) format('woff2');
}
