.activity {
  padding-block: 134px;
}

.activity__main-title {
  text-align: center;
  margin-bottom: 74px;
}

.activity__content {
  row-gap: 30px;
}

.activity__description {
  grid-column: 4 span;
}

.activity__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.activity__image_small {
  grid-column: 4 span;
}

.activity__image_large {
  grid-column: 8 span;
}

.actitvity__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--color-accent);
  margin-bottom: 40px;
}

.activity__text {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .activity__description,
  .activity__image_large {
    grid-column: 6 span;
  }
}

@media (max-width: 915px) {
  .activity__description,
  .activity__image_large,
  .activity__image_small {
    grid-column: 12 span;
  }

  .activity__content {
    --gap: 0;
  }

  .activity {
    padding-block: 105px;
  }

  .activity__main-title {
    margin-bottom: 55px;
  }

  .actitvity__title {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .activity__content {
    row-gap: 20px;
  }

  .actitvity__title {
    font-size: 24px;
    color: var(--color-dark);
    margin-top: 6px;
    margin-bottom: 12px;
  }
  .activity__description {
    grid-row: 3/3;
  }

  .activity__image_large {
    grid-row: 1 /1;
  }

  .activity__image:nth-of-type(n + 3) {
    display: none;
  }

  .activity__text {
    margin-bottom: 6px;
  }

  .activity {
    padding-block: 75px;
  }

  .activity__main-title {
    margin-bottom: 45px;
  }
}
