.header {
  padding-bottom: 79px;
  background-image: url(../../images/backgrounds/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__top {
  padding-top: 27px;
  --container-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 230px;
  column-gap: 34px;
  row-gap: 5px;
  flex-wrap: wrap;
  position: relative;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
}

.header__link {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--color-light);
  text-decoration: none;
  transition: color 0.3s ease;
}

.header__top-contacts {
  display: flex;
  align-items: center;
  gap: 39px;
  margin-left: auto;
}

.header__contacts-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__contact-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-light);
  padding-left: 26px;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 21px 21px;
  transition: color 0.3s ease;
}

.header__contact-link_tel {
  background-image: url(../../images/icons/phone.svg);
}

.header__contact-link_email {
  background-image: url(../../images/icons/mail.svg);
}

.header__link:hover,
.header__contact-link:hover,
.header__select:hover {
  color: var(--color-light-3);
}

.header__select {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-inline-start: 13px;
  cursor: pointer;
  background-image: url(../../images/icons/polygon.svg);
  background-repeat: no-repeat;
  background-size: 7px 7px;
  background-position: left center;
  transition: color 0.3s ease;
}

.header__select:focus {
  outline: none;
}

.header__option {
  color: var(--color-dark);
  padding-top: 30px;
}

.header__bottom {
  --container-width: 1280px;
}

.header__title {
  max-width: 998px;
  margin-bottom: 22px;
}

.header__text {
  max-width: 622px;
  margin-bottom: 58px;
}

/* На мобильных устройствах width: 33px;
  height: 18px; Сейчас для планшетов */

.header__burger {
  width: 43px;
  height: 28px;
  cursor: pointer;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

/* На мобильных устройствах height: 2px */

.header__burger-line {
  width: 100%;
  height: 3px;
  background-color: var(--color-accent);
  transition: all 0.3s ease;
}

.header__burger_active .header__burger-line {
  border-radius: 2px;
}

.header__burger_active .header__burger-line:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.header__burger_active .header__burger-line:nth-child(2) {
  transform: scale(0);
}

.header__burger_active .header__burger-line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

@media (max-width: 815px) {
  .header__top {
    --container-offset: 20px;
    padding-top: 28px;
    padding-bottom: 24px;
    margin-bottom: 149px;
    background-color: rgba(49, 49, 49, 0.9);
    z-index: 2;
  }

  .header__nav,
  .header__top-contacts {
    top: 92px;
    right: -100%;
    transform: translate(100%, 0);
  }

  .header__title {
    max-width: 560px;
    margin-bottom: 27px;
  }

  .header__text {
    margin-bottom: 47px;
    max-width: 510px;
  }

  .header__burger {
    display: flex;
  }

  .header__bottom {
    --container-offset: 40px;
  }

  .header__nav {
    position: absolute;
    width: 100%;
    background-color: #313131;
    padding-top: 43px;
    padding-bottom: 30px;
    transition: all 500ms ease;
  }

  .header__nav_open {
    transition: all 300ms ease;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
  }

  .header__list {
    flex-direction: column;
    align-content: center;
    text-align: center;
  }

  .header__top-contacts {
    margin-left: 0;
    position: absolute;
    width: 100%;
    background-color: #313131;
    padding-bottom: 91px;
    transition: all 300ms ease;
    justify-content: center;
  }

  .header__top-contacts_open {
    transition: all 300ms ease;
    left: 50%;
    transform: translateX(-50%);
  }

  .header__contacts-links {
    flex-direction: column;
    align-items: center;
  }

  .header__contact-link {
    color: var(--color-accent);
    background-image: none;
    padding-left: 0;
  }

  .header__select {
    display: none;
  }
}

@media (max-width: 480px) {
  .header__top {
    padding-top: 25px;
    padding-bottom: 21px;
  }
  .header__text {
    max-width: 300px;
  }

  .header__button {
    width: 100%;
  }

  .header__nav,
  .header__top-contacts {
    top: 70px;
  }

  .header__list {
    gap: 20px;
  }

  .header__burger {
    width: 33px;
    height: 18px;
  }

  .header__burger-line {
    height: 2px;
  }

  .header__burger_active .header__burger-line {
    width: 20px;
  }

  .header__burger_active .header__burger-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .header__burger_active .header__burger-line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
