.logo {
  background-size: cover;
  display: block;
  text-decoration: none;
  transition: opacity 0.3s ease;
  background-image: url(../../images/logo.svg);
}

.logo:hover {
  opacity: 0.7;
}

.logo_header {
  width: 226px;
  height: 40px;
}

.logo_footer {
  width: 169px;
  height: 30px;
}

/* TODO: add media queries */

@media (max-width: 480px) {
  .logo_header {
    width: 141px;
    height: 24px;
  }

  .logo_footer {
    background-image: url(../../images/logo-footer-mobile.svg);
  }
}
