.logo {
  background-image: url(../../images/logo.svg);
  background-size: cover;
  display: block;
  width: 226px;
  height: 40px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 0.7;
}

/* TODO: add media queries */

@media (max-width: 480px) {
  .logo {
    width: 141px;
    height: 24px;
  }
}
