.products {
  background-color: #686868;
  padding-top: 99px;
  padding-bottom: 133px;
  background-image: url(../../images/backgrounds/products-bg.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

.products__description {
  position: relative;
}

.products__title {
  margin-bottom: 24px;
}

.products__text {
  margin-bottom: 48px;
  max-width: 486px;
}

.products__list {
  row-gap: var(--gap);
}

.products__slide {
  grid-column: 4 span;
}

.products__item {
  background-color: #535353;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 35px;
  padding-bottom: 35px;
  min-height: 413px;
  position: relative;
  clip-path: polygon(83% 0, 100% 13%, 100% 100%, 0 100%, 0 0);
}

.products__image {
  position: absolute;
  left: 50%;
  top: 18px;
  transform: translateX(-50%);
}

.products__name {
  margin-bottom: 14px;
}

.products__item-text {
  max-width: 290px;
  height: 78px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 18px;
}

.products__buttons {
  position: absolute;
  right: var(--container-offset);
  bottom: -78px;
  display: none;
  gap: 11px;
}

.products__button-slider {
  width: 54px;
  height: 54px;
  color: var(--color-light);
}

.products__button-slider:hover svg path,
.products__button-slider:hover svg rect {
  fill: currentColor;
  transition: fill 0.3s ease-in-out;
}

.products__button-slider svg path,
.products__button-slider svg rect {
  transition: fill 0.3s ease;
}

.products__button-slider:disabled {
  opacity: 0.3;
}

@media (max-width: 1200px) {
  .products__slide {
    grid-column: 6 span;
  }

  .products__item {
    /* grid-column: 6 span; */
    padding-right: 35px;
  }

  .products__item-text {
    max-width: max-content;
  }

  .products__item {
    clip-path: polygon(83% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
    min-width: 360px;
  }
}

@media (max-width: 824px) {
  .products__buttons {
    display: flex;
  }

  .products__slide {
    width: 360px;
  }

  .products__item {
    /* grid-column: 12 span; */
    width: 360px;
    clip-path: polygon(83% 0, 100% 13%, 100% 100%, 0 100%, 0 0);
    padding-right: 0;
  }

  .products__list {
    /* --container-offset: 0; */
    margin-inline: calc(var(--container-offset) * -1);
    --gap: 0;
  }

  .products__item-text {
    max-width: 290px;
  }

  .products__text {
    margin-bottom: 129px;
  }
}

@media (max-width: 480px) {
  .products {
    padding-top: 104px;
    padding-bottom: 124px;
  }
  .products__description {
    --container-offset: 38px;
  }
}
