.title {
  text-transform: uppercase;
  margin: 0;
}

.title_base {
  font-size: 40px;
}

.title_large {
  font-size: 60px;
}

.title_medium {
  font-size: 24px;
}

.title_font-weight_normal {
  font-weight: 400;
}

.title_font-weight_medium {
  font-weight: 500;
}

.title_font-weight_bold {
  font-weight: 700;
}

.title_line-height_normal {
  line-height: 120%;
}

.title_line-height_medium {
  line-height: 140%;
}

.title_line-height_large {
  line-height: 160%;
}

.title_color_light {
  color: var(--color-light);
}

.title_color_dark {
  color: var(--color-dark);
}

@media (max-width: 815px) {
  .title_large {
    font-size: 40px;
  }

  .title_base {
    font-size: 28px;
  }

  .title_medium {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .title_large {
    font-size: 28px;
  }

  .title_base {
    font-size: 28px;
  }

  .title_medium {
    font-size: 18px;
  }
}
