.title {
  text-transform: uppercase;
  margin: 0;
}

.title_large {
  font-weight: 500;
  font-size: 60px;
  line-height: 120%;
}

.title_color_light {
  color: var(--color-light);
}

@media (max-width: 815px) {
  .title_large {
    font-size: 40px;
  }
}
